@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic');

body {
  font-family: 'Roboto', 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5685;
  font-weight: normal;
  color: #323232;
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
}

/*
form
====================
*/
.form {
  width: 350px;
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 100px auto 0;
  border-top: 4px solid #2496F4;
}

/*
form label
====================
*/
.field-group__label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #323232;
  margin-top: 10px;
  position: relative;
}

.is-required::after {
  content: "*";
  font-size: 14px;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.field-group:first-child .field-group__label {
  margin-top: 5px;
  margin-bottom: 0;
}

/*
form input
====================
*/

.field-group__input {
  width: 100%;
  height: auto;
  padding: 10px 8px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
}

/*
form button
====================
*/
.form-button__send {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  width: 100%;
  height: auto;
  border: 0;
  border-radius: 2px;
  background-color: #2496f4;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
}

.form-button__send:hover {
  background-color: rgba(36, 150, 244, 0.8);
}
